# This file introduces a script into the Elasticbeanstalk deployment process
# which installs modules via Yarn instead of using the default NPM install.

# NPM install is prevented by .ebextensions/disable-npm.config which overrides
# the 50npm.sh script used by Elasticbeanstalk. Because 50npm.sh also installs Node,
# we also need to install Node ourselves in this script.

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_yarn.sh" :
        mode: "000775"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # Install Node 10.x
            curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -;

            # Install Yarn
            curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo;
            yum -y install yarn;

            # Install node_modules with Yarn
            app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
            cd "${app}";
            echo "Inside ${app}, about to run Yarn."
            yarn --production;
